.header{
    height:90px;
    background-color:goldenrod;
    border:1px solid red;
}

.left_nav{
    height:850px;
    background-color:dimgrey;
}

.logo{
    float:left;
    height:90px;
    width:90px;
}
.text{
    float:right;
    text-align:center;
    font-size:45px;
    color:white;
}
