
#header {
    width: 100%;
    height: 90px;
    border:1px solid red;
    display:flex;
}
.header{
    width:50%;
    height:90px;
    background-color:rgb(82,198,164);
    border:1px solid red;
}



/*----------中间内容区域----------*/
#contion {
    height: 100px;
    width: 100px;
    border: 1px solid red;
}
.logo-text{
    padding-left:40px;
    line-height:90px;
    font-size:35px;
    color:white;
}
.left_nav {
    height: 100%;
    background-color: rgb(44,56,74);
}
.Login {
    float: right;
    padding-right: 20px;
    line-height: 90px;
    font-size: 25px;
    color: white;
}

