
#header {
    width: 100%;
    height: 90px;
    border:1px solid red;
    display:flex;
}
.header{
    width:50%;
    height:90px;
    background-color:rgb(82,198,164);
    border:1px solid red;
}



/*----------中间内容区域----------*/
#contion {
    
}
.left_nav {
    height: 850px;
    background-color: rgb(44,56,74);
}

