

.no2 {
    border: 1px solid gainsboro;
    border-left: 6px solid green;
    margin: 1%;
    width: 98%;
    height: 70px;
}

.no3 {
    padding: 10px;
    border: 1px solid gainsboro;
    width: 98%;
    height: 630px;
    margin: 1%;
}



#Customer-section {
    margin: 15px;
    width: 100%;
    height: 140px;
    display: flex;
}

.section-second {
    width: 15%;
    height: 35px;
}

.section-third {
    width: 15%;
    height: 35px;
}

.section-fourth {
    width: 15%;
    height: 35px;
}

.section-fifth {
    width: 53%;
    height: 35px;
}

.input-text-one {
    line-height: 30px;
    width: 80%;
}

.input-text-two {
    line-height: 30px;
    width: 80%;
}

.input-button-one {
    width: 80%;
    height: 35px;
}

.adddel {
    height: 40px;
    width: 100%;
    display: flex;
}

.ad {
    width: 100px;
    height: 100%;
    border-radius: 5px;
    background-color: rgb(15,135,249);
}

.del {
    margin-left: 20px;
}

.add {
    margin-left: 40px;
}

.gridView {
    margin-top: 15px;
    width: 100%;
    height: 85%;
    background-color: skyblue;
}
