* {
	font-size: 20px;
	padding: 0px;
	margin: 0px;
}

.Load {
	margin: 20px auto;
	background-color: #069e6e;
	border: 1px solid red;
	width: 95%;
	height: 600px;
}

.Load-text_one {
	font-size: 3.5rem;
	text-align: center;
	line-height: 300px;
}
